.row{
    display: flex;
    width:20%;
    justify-content:space-between;
  }
  
  button{
    min-width:4.2rem;
    min-height: 3rem;
  }

  /* #inputoutputFields{
      /* display: flex; */
      /* width: 13.38%; */
      /* height: 6rem; */
      /* flex-wrap: wrap; */
  /* /* }  */
  #inputoutputFields button{
    min-height: 5rem;
  }  
  .buttonanddiv{
      display: flex;
  }
  input{
      width:12.2rem;
      height: 25px;
      margin: 0;      
  }

  .row #btn-0{
      width: 100%;
  }